---
import DefaultLayout from "../layouts/default-layout.astro";
import career from "../data/career.json";

interface Experience {
  periode: string;
  poste?: string;
  organisation: string;
  description: string;
}

const experiences = career as Experience[];
---

<DefaultLayout title="Parcours – Virgil CHAREYRE">
  <section class="page-section">
    <h1>Parcours</h1>

    <div class="intro">
      <p>
        Mon cheminement professionnel et académique, façonné par une passion
        pour le développement web accessible et éthique, ainsi que par une
        volonté constante d'apprendre et d'évoluer.
      </p>
    </div>

    <h2>Formations & Expériences</h2>
    <div class="content-grid">
      {
        experiences.map((experience) => (
          <div class="card-item padded accented">
            <div class="badge">{experience.periode}</div>
            {experience.poste && <h3>{experience.poste}</h3>}
            <div class="card-organisation">{experience.organisation}</div>
            {experience.description && (
              <p class="description">{experience.description}</p>
            )}
          </div>
        ))
      }
    </div>
  </section>
</DefaultLayout>
