---
interface DropdownItem {
  label: string;
  url: string;
}

interface Props {
  title: string;
  url: string;
  items: DropdownItem[];
  current?: boolean;
}

const { title, url, items, current } = Astro.props;
---

<li class="has-dropdown">
  <a
    href={url}
    aria-current={current ? "page" : undefined}
    aria-haspopup="true"
    aria-expanded="false"
  >
    {title}
  </a>
  <ul class="dropdown" role="menu">
    {
      items.map((item) => (
        <li>
          <a href={item.url}>{item.label}</a>
        </li>
      ))
    }
  </ul>
</li>
