---
import DefaultLayout from "../../layouts/default-layout.astro";
import projects from "../../data/projects.json";

interface Project {
  id: string;
  title: string;
  summary: string;
  context: string;
  problem: string;
  objectives: string;
  process: string;
  results: string;
  learned: string;
  skills: string[];
}

const typedProjects = projects as Project[];
---

<DefaultLayout title="Projets – Virgil CHAREYRE">
  <section class="page-section">
    <h1>Projets</h1>

    <div class="intro">
      <p>
        Sélection de projets représentatifs de ma démarche et de mes valeurs,
        chacun illustrant différentes facettes de mon approche du développement
        web.
      </p>
    </div>

    <div class="content-grid">
      {
        typedProjects.map((projet) => (
          <a href={`/projets/${projet.id}`} class="card-item">
            <div class="project-image"></div>
            <div class="project-content">
              <h2>{projet.title}</h2>
              <p class="project-description">{projet.summary}</p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</DefaultLayout>
